@page
@model ProductsModel

<h2 style="text-align: center;">Admin – Artikelverwaltung</h2>

<div class="register">

    <form method="post">
        <input asp-for="NewArticle.Description" placeholder="Beschreibung"              id="user"/>
        <input asp-for="NewArticle.Quantity" type="number" placeholder="Menge"          id="user"/>
        <input asp-for="NewArticle.Price" type="number" step="0.01" placeholder="Preis" id="user"/>
        
        <button type="submit" id="login-btn">Hinzufügen</button>
    </form>

</div>

<hr />

<table>
        <tr>
            <th>Beschreibung</th>
            <th>Menge</th>
            <th>Preis</th>
            <th>Aktionen</th>
        </tr>

        @foreach (var a in Model.Articles)
        {
            <tr>
                <td>@a.Description</td>
                <td>@a.Quantity</td>
                <td>@a.Price €</td>
                
                <td>
                    <form method="post" asp-page-handler="DeleteArticle" style="display:inline;"
                          onsubmit="return confirm('Bist du sicher, dass du diesen Artikel löschen willst?');">
                        <input type="hidden" name="articleId" value="@a.Id" />
                        <button type="submit" style="color:red;">Löschen</button>
                    </form>
                </td>

            </tr>
        }

</table>

